 <%- include("component/navbar");  -%>

<ul class="clothes">
    <li class="cloth">
        <img src="/image2.jpeg" alt="clothes icon"/>
        <h4>Shirt</h4>
        <p>Long Coller Shirt black</p>
    </li>
    <li class="cloth">
        <img src="/image2.jpeg" alt="clothes icon"/>
        <h4>Shirt</h4>
        <p>Long Coller Shirt black</p>
    </li>

    <li class="cloth">
        <img src="/image2.jpeg" alt="clothes icon"/>
        <h4>Shirt</h4>
        <p>Long Coller Shirt black</p>
    </li>

    <li class="cloth">
        <img src="/image2.jpeg" alt="clothes icon"/>
        <h4>Shirt</h4>
        <p>Long Coller Shirt black</p>
    </li>

 
    


</ul>

<%- include("component/footer");  -%>