<%-include("component/navbar")-%>
<header>
    <div class="clothes">
      <img src="/image2.jpeg">
    </div>

    <div class="heading">
     <h2>CLOTHES SHOP</h2>
     <a href="/clothes" class="button">View Clothes</a>
    </div>
</header>

<%-include("component/footer")-%>