<%-include("component/navbar")-%>

<form>
    <h1 style="color: white">SIGN-UP</h1>

    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="email">Password</label>
    <input type="password" name="password" id="password">
    <button>Signup</button>
</form>

<script>

    const form=document.querySelector("form");

    form.addEventListener("submit",async(e)=>{
        e.preventDefault()
        const email=form.email.value
        const password=form.password.value
        
        try{
         const res=await fetch("/user/signup",{
            method:"POST",
            body:JSON.stringify({email,password}),
            headers:{"Content-Type":"application/json"}
         })
         const data=await res.json()
         if(data.error){
            alert(data.msg)
         }else{
            alert(data.msg)
            form.email.value=""
            form.password.value=""
         }
        }catch(e){
         console.log(e);
        }
    })
</script>

<%-include("component/footer")-%>