body{
    background-color: black;
}

nav{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

header{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.button{
    border: 1px solid blue;
    border-radius: .5rem;
    padding: 10px;
    color: black;
    font-weight: bold;
    background-color: white;
}

footer{
    color: white;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 50px;
}

.clothes{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    gap: 20px;
    
    
}

.cloth{
    border: 1px solid white;
    padding: 5px;
}

.nav_ul{
    display: flex;
    gap: 30px;
    

}

.nav_li{
    background-color: black;
    padding: 8px;
    color: white;
    border-radius: .5rem;
}

.nav_li:hover{
    background-color: yellow;
    padding: 10px;
    color: black;
    border-radius: .5rem;
}

li{
    color: white;
}

form{
   
    background-color: teal;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    margin-top: 90px;
    border-radius: 1rem;

}

input{
    border-radius: .5rem;
    padding: 5px;
    width: 100%;
}

button{
    padding: 5px;
    background-color: yellow;
    margin-top: 10px;
    border-radius: .5rem;
    width: 100%;
}

label{
    text-align:start;
}

img{
    width: 200px;
}
